
    <h1>Screenings @ Codeclan</h1>

    <!-- @films is getting thrown to us here as an array of hashes -->
    <!-- So now we need to iterate through them -->
    <% for film in @films %>
    <a href="/film_info/<%= film.id %>"><br>
    <%= film.title  %>
    </a>
    <% end %>

    <br>
    <br>
    <br>

    <a class="customers" href="http://localhost:4567/customers">Customers</a>
