body,
h1 {
  background-color: #7b9ea9;
  color: white;
  font-family: sans-serif;
  font-size: 61px;
  color: white;
  text-align: center;
}

body a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 80px;
  text-align: center;
}

.back_button {
  font-size: 40px;
}
